.dialogues_wrapper {
  padding: 20px;
  display: flex;
}

.dialogues_number {
  padding: 20px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.dialogues {
  background: white;
  border: 1px solid #e3e4e8;
  border-right: none;
}

.dialogues_list {
  max-height: 520px;
  overflow-y: scroll;
}

.dialogues_item {
  border-top: 1px solid #e3e4e8;
  min-width: 300px;
}

.dialogue_info {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.user {
  display: flex;
  padding: 10px;
}

.avatar_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user_info {
  padding-left: 10px;
  max-width: 230px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.user_info span{
  color: black;
  font-weight: bold;
}

.user_avatar {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.small {
  width: 24px;
  height: 24px;
  margin-right: 1px;
}

.middle {
  width: 24px;
  height: 50px;
  margin-right: 1px;
}

.round {
  border-radius: 50%;
}

.last-message {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.last-message_text {
  padding-left: 5px;
  font-size: 12px;
}

.date {
  flex-shrink: 0;
}

.dialogue_link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: #626d7a;
  font-size: 12px;
  cursor: pointer;
}

.active {
  background-color: #3975ff;
}

.active .last-message {
  color: white;
}

.unread {
  background: #3975ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue {
  width: 100%;
  background: white;
  border: 1px solid #e3e4e8;
}

a {
  text-decoration: none;
  display: block;
}

a:visited {
  color: grey;
}

.new_dialogue_btn {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: relative;
}
.new_dialogue_btn:hover {
  opacity: 1;
  cursor: pointer;
}
.new_dialogue_btn:before, .new_dialogue_btn:after {
  position: absolute;
  left: 9px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.new_dialogue_btn:after {
  transform: rotate(90deg);
}

