.dialogues_wrapper {
  padding: 20px;
  display: flex;
}

.dialogues_number {
  padding: 20px;
  background: white;
}

.dialogues {
  display: flex;
  background: white;
  border: 1px solid #e3e4e8;
  border-right: none;
}

.dialogues_item {
  border-top: 1px solid #e3e4e8;
  padding: 10px;
  min-width: 300px;
}

.user {
  display: flex;
}

.avatar_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user_info {
  padding-left: 10px;
  max-width: 230px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.user_info span{
  color: black;
  font-weight: bold;
}

.user_avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.small {
  width: 24px;
  height: 24px;
  margin-right: 1px;
}

.middle {
  width: 24px;
  height: 50px;
  margin-right: 1px;
}

.round {
  border-radius: 50%;
}

.last-message {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.last-message_text {
  padding-left: 5px;
  font-size: 12px;
}

.date {
  flex-shrink: 0;
}

.dialogue_link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: #626d7a;
  font-size: 12px;
  cursor: pointer;
}

.active {
  background-color: #3975ff;
}

.active .last-message {
  color: white;
}

.dialogue {
  width: 100%;
  background: white;
  border: 1px solid #e3e4e8;
}

a {
  text-decoration: none;
}

a:visited {
  color: grey;
}
