<div *ngIf="dialogues && dialogues.length && loggedUser " class="dialogues_wrapper">


  <div class="dialogues">
    <div class="dialogues_list">
      <div class="dialogues_number">
        {{dialogues.length}} диалога
      </div>

      <div *ngFor="let dialogue of dialogues" class="dialogues_item" [ngClass]="{'active':dialogue.active}" (click)="setActiveDialogue(dialogue._id.toString())">
        <a routerLink="{{dialogue._id}}">
<!--          <div class="user" *ngIf="dialogue.users.length < 2">-->
<!--            <div *ngFor="let user of dialogue.users; let i = index" class="user_avatar"-->
<!--                 [ngStyle]="{background: 'url(' + url + user.avatar.filename + ')',-->
<!--                         'background-size': 'cover',-->
<!--                         'left': (i*10) + 'px'-->
<!--                         }  " [hidden]="i > 3">-->

<!--            </div>-->
<!--            <div class="user_info">-->
<!--              <span *ngFor="let user of dialogue.users; let i = index">{{user.name | titlecase}} {{user.surname | titlecase}}</span>-->
<!--            </div>-->
<!--          </div>-->

          <div class="user">
            <div class="avatar_wrap">
              <div *ngFor="let user of dialogue.users; let i = index"
                   class="user_avatar"
                   [ngClass]="{'small': dialogue.users.length > 2, 'middle': dialogue.users.length == 2}"
                   [ngStyle]="{background: 'url(' + url + user.avatar.filename + ')', 'background-size': 'cover'}"
                   [hidden]="i > 3">
              </div>
            </div>

            <div style="display: flex; flex-direction: column; width: 230px">
              <div class="user_info">
                <div>
                  <span *ngFor="let user of dialogue.users; let i = index">
                    <span *ngIf="i <= 2">{{user.name | titlecase}}<span *ngIf="i + 1 !== dialogue.users.length && i <2 && dialogue.users.length > 1 ">, </span>
                      <span *ngIf="dialogue.users.length > 2 && i + 1 > 2">... и еще {{dialogue.users.length - i}} </span>
                    </span>
                  </span>
                </div>

                <div class="date" *ngIf="dialogue.lastMessage">
                  {{dialogue.lastMessage.date | date: 'd MMMM'}}
                </div>


              </div>
              <div class="last-message" *ngIf="dialogue.lastMessage">
                <div class="user_avatar small round"
                     [ngStyle]="{background: 'url(' + url + dialogue.lastMessage.owner.avatar.filename  + ')' }">
                </div>

                <span class="last-message_text">{{dialogue.lastMessage.message}}</span>
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="dialogue" >
    <router-outlet></router-outlet>
  </div>


</div>
