<div class="dialogue" *ngIf="activeDialogue">
  <div class="dialogue_header">
    <div >
      <div  class="dialogue_header_items">
<!--        <div class="dialogue_header_user">-->
<!--          <a routerLink="/user/{{user.login}}">-->
<!--            {{user.name | titlecase}} {{user.surname | titlecase}}-->
<!--          </a>-->
<!--        </div>-->
        <div class="dialogue_header_search">
          Поиск
        </div>
        <div class="avatar_wrap">
          <div *ngFor="let user of activeDialogue.users; let i = index"
               class="user_avatar"
               [ngStyle]="{background: 'url(' + url + user.avatar.filename + ')', 'background-size': 'cover'} "
                [ngClass]="{'small': activeDialogue.users.length > 2 }"
               [hidden]="i > 3">
            <a routerLink="/user/{{user.login}}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="last-message_date" *ngIf="activeDialogue.lastMessage">
    <span *ngIf="(activeDialogue.lastMessage.date | date: 'yyyy-MM-dd' ) !== today; else elseBlock">{{activeDialogue.lastMessage.date | date: 'd MMMM'}}</span>
    <ng-template #elseBlock>Сегодня</ng-template>
  </div>

  <div class="messages">
    <div class="message" #scrollMe (scroll)="onScroll($event)">
      <div  class='message_item' *ngFor="let message of messages" #messageDiv
            [ngClass]="{
            'normal' : message.owner_id === loggedUser._id,
            'new' : message.owner_id !== loggedUser._id && message.readUsers.length && isRead(message.readUsers)
            }">
        <div class="avatar_wrap">
          <div class="user_avatar"
               [ngStyle]="{background:
               'url(' + url + message.owner.avatar.filename + ')', 'background-size': 'cover'} ">
          </div>
        </div>
        <div class="message_info">
          <div class="message_owner" [ngClass]="{
            'unread': message.owner_id === loggedUser._id && message.readUsers.length && message.readUsers.length === activeDialogue.users.length,
            'read': message.owner_id === loggedUser._id && !message.readUsers.length
               }">
            {{message.owner.name | titlecase}}
          </div>

          <div>
            {{message.message}}
          </div>



        </div>
    </div>
      <div class="message_item" *ngIf="!activeDialogue.lastMessage">
        Сообщений пока нет. Время это исправить
      </div>
    </div>

  </div>
  <div class="input">
    <input type="text" (keydown.enter)="sendMessage($event)">
  </div>

</div>
