.dialogue_header {
  padding: 15px 15px 14px;
  border-bottom: 1px solid #e3e4e8;
}
.user_avatar {
  width: 50px;
  height: 50px;
}

.dialogue_header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_avatar a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.last-message_date {
  text-align: center;
  padding: 10px;
}

.messages {
  height: 500px;
}

.message {
  height: 100%;
  overflow-y: scroll;
}

.message_item {
  display: flex;
  padding: 20px;
}

.logged-user {
  justify-content: flex-end;
}

.user {
  position: relative;
  justify-content: flex-start;
}

.message_info {
  padding-left: 10px;
}

.message_owner {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.input {
  padding: 10px;
  border-top: 1px solid #e3e4e8;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b7b8bc;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
  transition: .2s linear;
}

.unread {
  background-color: #3975ff;
}

.avatar_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.small {
  width: 24px;
  height: 24px;
  margin-right: 1px;
}

.message_text {
  max-width: 400px;
}
