.friends_modal {
  border: 1px solid #e3e4e8;
}

.friends {
  overflow-y: scroll;
  max-height: 200px;
}

.friend_block, .friends_modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e4e8;
  padding: 10px 20px;
}

.friend_block:last-child {
  border-bottom: none;
}

.user {
  display: flex;
  align-items: center;
}

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user_info {
  padding-left: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

label {
  width: 20px;
  height: 20px;
}

input {
  display: none;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #039be5;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.close_btn {
  cursor: pointer;
}

.start_dialogue {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

button {
  margin: 0;
}
