<h2>Люди</h2>

<div class="search_input">
  <input type="search" (input)="search($event)">
</div>

<div class="settings">
  <div class="list_number">
    <form [formGroup]="listForm">
      <label>Показывать по:
        <select (change)="setListNumber($event.target.value)" formControlName="listControl">
          <option value="5">5</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
       </label>
    </form>
  </div>

  <div class="sort">
    <form [formGroup]="sortForm">
      <label>Сортировать по:
        <select (change)="setSort($event.target.value)" formControlName="sortControl">
          <option value="name">имени</option>
          <option value="surname">фамилии</option>
          <option value="birth_year">дате рождения</option>
        </select>
      </label>
    </form>
  </div>
</div>

<div class="users" *ngIf="users && users.length">
  <div class="users_item" *ngFor="let user of users">
    <a routerLink="/user/{{user.login}}">
      <div class="users_item_avatar"
           [ngStyle]="{background: 'url(' + url + user.avatar.filename + ')', 'background-size': 'cover'} ">
      </div>
    </a>

    <div class="users_item_info">
        <p>{{user.name | titlecase}} {{user.surname | titlecase}}</p>
        <p>{{user.birth_year}}</p>
        <p>{{user.phone}}</p>
    </div>

  </div>
</div>

<app-pagination *ngIf='users && users.length'
                (changePageEmitter)="changePage($event)"
                [dataItems]="users"
                [listNumber]="listNumber"
                [currentPage]="currentPage"></app-pagination>




