.user_page_container {
  padding: 20px;
}

.user_info {
  flex-grow: 1;
  margin-left: 10px;
  padding: 20px;
}

.last-photos {
  flex-basis: 100%;
  margin: 10px 0 0 0;
}

.friends {
  max-width: 240px;
}

.user_friends {
  width: 200px;
  margin-top: 10px;
  padding: 20px;
  position: relative;
}

.user_friends a {
  text-decoration: none;
}

button {
  margin-top: 0;
}

.block {
  display: flex;

}

.unread_number {
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 150px;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}





