.user_page_container {
  padding: 20px;
}

.user_info {
  flex-grow: 1;
  margin-left: 10px;
  padding: 20px;
}

.last-photos {
  flex-basis: 100%;
  margin: 10px 0 0 0;
}

.friends {
  max-width: 240px;
}

.user_friends {
  width: 200px;
  margin-top: 10px;
  padding: 20px;
}

.user_friends a {
  text-decoration: none;
}

button {
  margin-top: 0;
}

.block {
  display: flex;

}







