<div class = "user_page_container" *ngIf="user">
  <div class="block">
    <app-avatar [user]="user" [loggedUser]="loggedUser"></app-avatar>

    <div class="user_info wrapper">
      <app-user-info [user]="user"></app-user-info>
    </div>
  </div>

  <div class="block">
    <div class="friends">
      <div class="user_friends requests wrapper" *ngIf="loggedUser && user.login === loggedUser.login">
        <a routerLink="requests">Заявки в друзья</a>
      </div>

      <div class="user_friends requests wrapper" *ngIf="loggedUser && user.login !== loggedUser.login && isAuth && isFriend">
        <button (click)="sendRequest(user._id)" *ngIf="!isFriend.friend && !isFriend.request && !requestStatus">Добавить в друзья</button>
        <span *ngIf="requestStatus">Запрос отправлен</span>
        <span *ngIf="isFriend.friend">{{user.name}} у вас в друзьях</span>
        <span *ngIf="isFriend.request">Вы подписаны</span>
      </div>

      <div class="user_friends list wrapper">
        <a routerLink="/user/{{user.login}}/friends">Друзья {{user.name}}</a>
      </div>
    </div>


    <div class="last-photos">
      <app-last-photos-container [user]="user" [loggedUser]="loggedUser"></app-last-photos-container>
    </div>
  </div>


  <router-outlet></router-outlet>


</div>
