<div class="album wrapper" *ngIf="hero && album && !deleteStatus">
  <div class="album_header">
    <div>
      <a routerLink="/hero/{{hero.login}}"> {{hero.name | titlecase}} {{hero.surname | titlecase}}</a>
      > <a routerLink="/hero/{{hero.login}}/albums/{{hero._id}}"> Альбомы</a>
      > <span *ngIf="!status" (click)="showInput($event)" id = '1' >{{name}}</span>
      <input *ngIf="status" autofocus type="text" [(ngModel)]="name"
             name = 'name'
             (focusout)="updateAlbum(albumName)"
             (keydown.enter)="updateAlbum(albumName)"
             #albumName>
    </div>

    <div class="add_photos_block"  *ngIf="hero.login === login">
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)" multiple
        #fileInput>

      <button (click)="fileInput.click()">
        Добавить фотографии
      </button>

    </div>
  </div>

  <div class="photos" >
    <div class="album_item" *ngFor="let album of album">



      <p class="album_year">
        <span *ngIf="!status1" (click)="showInput($event)" id = '2'>{{album.description}}</span>
        <input *ngIf="status1" autofocus type="text" [(ngModel)]="album.description"
               name = 'description'
               (focusout)="updateAlbum(albumDescription)"
               (keydown.enter)="updateAlbum(albumDescription)"
               #albumDescription>
      </p>

      <div class="photo_previews">
        <a class="album_preview"
           *ngFor="let photo of album.photos"
           [ngStyle]="{background: 'url(' + url + photo.filename + ')',
                 'background-size': 'cover',
                 'background-position': '50% 50%'} "
           routerLink="{{photo.filename}}"
        ></a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="delete_block"  *ngIf="hero.login === login">
    <button (click)="delete()">Удалить альбом</button>
  </div>

</div>

<div class="album wrapper" *ngIf="deleteStatus">
  <p class="album_message">Альбом успешно удален!</p>
</div>

