<div class="album wrapper" *ngIf="user && currentAlbum && !albumDeleteStatus">
  <div class="album_header">
    <div>
      <a routerLink="/user/{{user.login}}"> {{user.name | titlecase}} {{user.surname | titlecase}}</a>
      > <a routerLink="/user/{{user.login}}/albums/{{user._id}}"> Альбомы</a>
      > <span *ngIf="!status" (click)="showInput()" id = '1' >{{currentAlbum.name}}</span>
      <input *ngIf="status" autofocus type="text" [(ngModel)]="name"
             name = 'name'
             (focusout)="updateAlbum(albumName)"
             (keydown.enter)="updateAlbum(albumName)"
             #albumName>
    </div>

    <div class="add_photos_block"  *ngIf="user.login === loggedUser.login">
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)" multiple
        #fileInput>

      <button (click)="fileInput.click()">
        Добавить фотографии
      </button>

    </div>
  </div>

  <div class="photos" >
    <div class="album_item">



      <p class="album_year" #flag>
        <span  (click)="!flag" id = '2'>{{currentAlbum.description}}</span>
        <input autofocus type="text" [(ngModel)]="currentAlbum.description"
               name = 'description'
               (focusout)="updateAlbum(albumDescription)"
               (keydown.enter)="updateAlbum(albumDescription)"
               #albumDescription>
      </p>

      <div class="photo_previews">
        <a class="album_preview"
           *ngFor="let photo of currentAlbum.photos"
           [ngStyle]="{background: 'url(' + url + photo.filename + ')',
                 'background-size': 'cover',
                 'background-position': '50% 50%'} "
           routerLink="{{photo.filename}}"
        ></a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="delete_block"  *ngIf="user.login === loggedUser.login">
    <button (click)="delete()">Удалить альбом</button>
  </div>

</div>

<div class="album wrapper" *ngIf="albumDeleteStatus">
  <p class="album_message">Альбом успешно удален!</p>
</div>

