.menu {
  background: #3975ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo img {
  vertical-align: middle;
}

.menu_item {
  padding: 10px;
  text-transform: uppercase;
}

.menu_item a {
  text-decoration: none;
  color: #ffffff;
}

.logout {
  cursor: pointer;
  color: #ffffff;
}
