<div class="menu">
  <div class="logo"><a routerLink=""><img src = 'http://localhost:8000/logo.png'></a></div>

  <div class="menu_item" *ngIf="!isAuth">
    <a routerLink="login">Войти</a>
  </div>

  <div class="menu_item" *ngIf="!isAuth">
    <a routerLink="registration">Регистрация</a>
  </div>

  <div class="menu_item" *ngIf="isAuth && loggedUser">
    <a routerLink="user/{{loggedUser.login}}">Моя страница</a>
  </div>

  <div class="menu_item" *ngIf="isAuth && loggedUser">
    <a routerLink="user/{{loggedUser.login}}/friends">Мои друзья</a>
  </div>

  <div class="menu_item" *ngIf="isAuth && loggedUser">
    <a routerLink="user/{{loggedUser.login}}/dialogues">Диалоги</a>
    <div class="unread_number" *ngIf="selectUnreadMessagesNumber">{{selectUnreadMessagesNumber}}</div>
  </div>

  <div class="menu_item" *ngIf="isAuth && loggedUser">
    <a routerLink="users">Герои</a>
  </div>

  <div class="menu_item logout" *ngIf="isAuth && loggedUser" (click)="logout()">
     Выйти
  </div>


</div>
