<div class="upload wrapper">
  <p class="upload_header">Загрузка фотографий
  </p>

  <div class="upload_block">
    <div class="upload_preview"
      *ngFor="let blob of blobs"
       [ngStyle]="{background: 'url(' + blob.changingThisBreaksApplicationSecurity + ')', 'background-size': 'cover'} "
    >
      <p [ngClass]="{
        hide: !loading || loading.indexOf(blob) === -1,
        show: loading.indexOf(blob) >= 0
      }" class="upload_success">
        <i class="far fa-check-circle fa-3x icon"></i>
      </p>
    </div>
  </div>

  <div class="upload_album">
    <form >
      <select [(ngModel)]="selectedValue" name="upload" id="upload">
        <option *ngFor="let album of albums" [value]="album._id">
          {{album.name}}
        </option>
      </select>
    </form>

    <button class="upload_btn" (click)="upload()" [disabled]="loading && loading.length === blobs.length">Загрузить</button>
  </div>

</div>


