<div class="upload_modal_overlay" (click)="close($event)">

  <div class="upload_modal">
    <div class="upload_modal_header">
      <span>Запросы в друзья</span>

      <div>
        <i class="fas fa-times close_btn" (click)="close($event)"></i>
      </div>
    </div>

    <div class="upload_modal_block" *ngIf = 'requests'>
      <div class="request_block" *ngFor="let request of requests">
        <div class="user_info">
          <div class="user_avatar">
            <a routerLink="/hero/{{request.user.login}}">
              <img [src]="url + request.user.avatar.filename">
            </a>
          </div>

          <div class="user_name">
            <a routerLink="/hero/{{request.user.login}}">
              {{request.user.name | titlecase}} {{request.user.surname | titlecase}}
            </a>
          </div>
        </div>

        <div class="request_btns" [ngClass]="{
          hide: request.accepted || !request.accepted,
          show: request.accepted === undefined
        }">
          <button (click)="accept(request._id)" >Принять запрос</button>
          <button (click)="decline(request._id)" >Отклонить запрос</button>
        </div>

          <p [ngClass]="{
            hide: !request.accepted || request.accepted === undefined,
            show: request.accepted
          }">Теперь у вас в друзьях</p>

          <p [ngClass]="{
            hide: request.accepted || request.accepted === undefined,
            show: request.accepted === false
          }">Запрос отклонен</p>

      </div>
    </div>
    <div class="upload_modal_block" *ngIf ='!requests.length'>
      <p>Нет запросов на добавление в друзья</p>
    </div>
  </div>


</div>
