<h1>Вход</h1>

<form [formGroup] = 'loginForm' (ngSubmit)="submit()">
  <div class="registration-form">
    <div [ngClass]="{invalid: loginForm.get('login').touched && loginForm.get('login').invalid}">
      <label>Введите логин
        <input placeholder="Введите логин" type="text" name="login" formControlName="login" id="login">
      </label>

      <div *ngIf="loginForm.get('login').touched && loginForm.get('login').invalid">
        <small *ngIf="loginForm.get('login').errors.required">
          Поле логин не должно быть пустым
        </small>
      </div>
    </div>

    <div [ngClass]="{invalid: loginForm.get('password').touched && loginForm.get('password').invalid}">
      <label>Введите пароль
        <input placeholder="Введите пароль" type="password" name="password" formControlName="password" id="password" >
      </label>

      <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
        <small *ngIf="loginForm.get('password').errors.minlength">
          Недопустимый пароль
        </small>
      </div>

      <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
        <small *ngIf="loginForm.get('password').errors.required">
          Поле пароль не должно быть пустым
        </small>
      </div>

    </div>


    <button type="submit" [disabled]="loginForm.invalid">Войти</button>
  </div>
</form>

<div *ngIf="hero">
  СОСИ ПИСОС
</div>
