.friends {
  margin: 40px;
  max-width: 900px;
}

a {
  color: #333333;
  text-decoration: none;
}

.friends_header {
  border-bottom: 1px solid #d7d8db;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend_block {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #d7d8db;
  align-items: center;
  justify-content: space-between;
}

.friend_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.friend_avatar {
  width: 50px;
  margin-right: 10px;
}

.friend_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  margin-top: 0;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
