<div class="friends wrapper" *ngIf="user && loggedUser && friends">

  <div class="friends_header">
    Друзья {{friends.length}}
  </div>

  <div class="friends_block">

    <div class="friend_block" *ngFor="let friend of friends">

      <div class="friend_item">
        <div class="friend_avatar">
          <a routerLink="/user/{{friend.user.login}}">
            <img [src]="url + friend.user.avatar.filename" alt="">
          </a>

        </div>

        <div class="friend_info">
          <a routerLink="/user/{{friend.user.login}}">
            {{friend.user.name | titlecase}} {{friend.user.surname | titlecase}}
          </a>
          <span class="online" *ngIf="friend.user.online">Online</span>
        </div>
      </div>


      <div class="friend_delete">
        <div *ngIf="friend.user.deleteStatus">
          {{friend.user.name | titlecase}} удален из друзей
        </div>

        <button *ngIf="!friend.user.deleteStatus && user.login === loggedUser.login"
          (click)="deleteFriend(friend._id)"
                >
          Удалить друга</button>
      </div>
    </div>

    <div class="friend_block" *ngIf="!friends.length">
      Нет друзей... пока
    </div>




  </div>


</div>


