@import '../styles';

.notification {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: rgba(0%, 0%, 0%, 0.8);
  border-radius: 5px;
  width: 300px;
  &__header {
    padding: 10px 10px 0;
    color: white;
    font-weight: bold;
  }
  &__body {
    display: flex;
    padding: 10px;
  }
  &__column_right {
    padding-left: 10px;
  }
  &__user-name {
    color: $user-name_blue;
    font-weight: bold;
  }
  &__message {
    color: white;
  }
}
