<ul *ngIf="this.pages && this.pages.length" class="pagination">
  <li [ngClass]="{disabled:this.currentPage === 1}">
    <a (click)="changePage(1)">Первая</a>
  </li>
  <li [ngClass]="{disabled:this.currentPage === 1}">
    <a (click)="changePage(currentPage - 1)">Предыдущая</a>
  </li>
  <li *ngFor="let page of this.pages" [ngClass]="{active:this.currentPage === page}">
    <a (click)="changePage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:this.currentPage === this.totalPages}">
    <a  (click)="changePage(currentPage + 1)" >Вперед</a>
  </li>
  <li [ngClass]="{disabled:this.currentPage === this.totalPages}">
    <a (click)="changePage(endPage)">Последняя</a>
  </li>
</ul>

