.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px;
}

li {

  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  color: #337ab7;
}

a {
  display: block;
  padding: 6px 12px;
}

.disabled a {
  cursor: not-allowed;
  color: #777;
}

.active {
  background-color: #039be5;
  color: white;
}
