.preview_photo {
  padding: 10px;
}

.preview_photo_block {
  display: flex;
  flex-direction: row;
}

.preview_photo_item {
  max-width: 200px;
  margin-right: 10px;
  max-height: 100px;
}

.preview_photo a {
  text-decoration: none;
  font-size: 12px;
}




