<div class="preview_photo wrapper"   >
  <p *ngIf="lastPhotos && lastPhotos.id"><a  routerLink="albums/{{user._id}}">Фотографии {{user.name | titlecase}} {{user.surname | titlecase}}</a></p>


  <div class="preview_photo_block" >

    <div class="preview_photo_item_container" *ngIf="lastPhotos && lastPhotos.lastphotos.length">

      <div class="preview_photo_item"
           *ngFor="let photo of lastPhotos.lastphotos"
           [ngStyle]="{background: 'url(' + url + photo.filename + ')', 'background-size': 'cover'} ">
        <a  routerLink="albums/{{user._id}}/{{photo.filename}}"></a>

      </div>
    </div>



    <div class="add_photos_block" *ngIf="user.login === loggedUser.login">
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)" multiple
        #fileInput>

      <i class="fas fa-camera fa-2x link"  (click)="fileInput.click()">
        <span>Добавить фотографии
        </span>
      </i>
    </div>

    <i class="fas fa-camera fa-2x" *ngIf="user.login !== loggedUser.login">
    </i>

  </div>

</div>


