/* HeroesComponent's private CSS styles */

* {
  box-sizing: border-box;
}
.heroes {
  margin: 0 0 2em 0;
  padding: 0;
  width: 250px;
  border-collapse: collapse;
}

.heroes td {
  padding: 20px;
  border: solid 1px black;
}

.heroes a {
  color: #039be5;
  text-decoration: none;
  position: relative;
  width: 250px;
}

.heroes a:hover {
  color:#607D8B;
}

.heroes .badge {
  font-size: small;
  color: white;
  background-color:#405061;
  min-width: 16px;
  text-align: right;
}

.remove_btn {
  display: inline;
}
