<div class="upload_modal_overlay" (click)="closePhoto($event)">

  <div class="upload_modal"  *ngIf="hero" >
    <div class="photo_block" >
      <div class="photo_item" *ngIf="!deleteStatus">
        <div class="move_icon">
          <div class="icon_item" (click)="prevPhoto()">
            <i class="fas fa-chevron-left fa-2x icon"></i>
          </div>

          <div class="icon_item" (click)="nextPhoto()">
            <i class="fas fa-chevron-right fa-2x icon"></i>
          </div>

        </div>
        <img [src]="url + selectedPhoto.filename">
      </div>
      <div class="photo_data" *ngIf="!deleteStatus">
        <a routerLink="/hero/{{hero.login}}/albums/{{albums[0].id}}/{{hero._id}}">{{albums[0].name}}</a>
        <button (click)="deletePhoto()"  *ngIf="hero.login === (login$ | async)">
          Удалить фото
        </button>
        <button (click)="setPreview()" [disabled]="updateStatus"  *ngIf="hero.login === (login$ | async)">
          Установить обложкой
        </button>
      </div>
      <div *ngIf="deleteStatus">
        Фото успешно удалено
      </div>

    </div>

    <div class="photo_rightfield">

      <div class="hero_data_wrapper">
        <div class="hero_data">
          <div class="hero_avatar_thumb">
            <a routerLink="/hero/{{hero.login}}">
              <img [src]="url + hero.avatar.filename" alt="">
            </a>
          </div>

          <div>
            <div class="hero_name">
              <a routerLink="/hero/{{hero.login}}">
                {{hero.name}} {{hero.surname}}
              </a>
            </div>
            <div class="photo_date">
              {{selectedPhoto.date | date: 'dd.MM.yyyy'}}
            </div>

          </div>
        </div>

        <div>
          <i class="fas fa-times close_btn" (click)="closePhoto($event)"></i>
        </div>


      </div>

      <div class="likes">
        <i class="far fa-heart"></i>
        {{selectedPhoto.likes}}
      </div>
    </div>
  </div>
