.upload_modal_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0,0,0,0.84);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.upload_modal {
  position: fixed;
  display: flex;
  min-width: 200px;
  max-width: 900px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.upload_modal p {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: solid 1px #d7d8db;
  background-color: #edeef0;
}

a {
  color: #333333;
  text-decoration: none;
}

.photo_block {
  max-width: 700px;
}

.photo_item {
  position: relative;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.move_icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon_item {
  opacity: 0.3;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon_item:hover {
  opacity: 1;
  cursor: pointer;
}

.photo_data {
  width: 100%;
  padding: 20px;
}

.photo_rightfield {
  width: 300px;
}

.close_btn {
  opacity: 0;
}

.photo_rightfield:hover .close_btn {
  opacity: 1;
  cursor: pointer;
}

.hero_data_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: solid 1px #d7d8db;
}

.hero_avatar_thumb {
  width: 50px;
  margin-right: 10px;
}

.hero_avatar_thumb img{
  border-radius: 50%;
}

.hero_data {
  display: flex;
}

.hero_name {
  font-size: 20px;
}

.likes {
  padding: 10px 20px;
}

.likes i:hover {
  cursor: pointer;
  color: rosybrown;
}





